body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

.contact-form {
    width: 70%;
    margin: auto;
}

.contact-input[type=text],
.contact-textarea,
.contact-input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

.contact-label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.contact-input[type=submit] {
    background-color: rgb(23, 112, 230);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-input[type=submit]:hover {
    background-color: rgba(86, 55, 224, 0.945);
}

.container {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}

.contact-hun {
    text-align: center;
    color: rgba(172, 172, 172, 0.548);
    width: 100%;
}