#jobName {
  margin: 0 auto;
  white-space: nowrap;
  width: min-content;
  height: 40px;
  font-size: 20px;
  border-right: solid 1px gray;
  animation: BorderOpacity 0.5s infinite;
  z-index: 1;
}

#Home {
  padding-top: 150px;
  min-height: 300px;
  width: 100%;
  color: white;
  z-index: 2;
}

/* add responsive for Home section */

@media screen and (min-width: 200px) and (max-width: 640px){
  #Home {
    padding-top: 100px;
    min-height: 300px;
    width: 100%;
    color: white;
    z-index: 2;
  }
}