.profile-header {
	display: flex;
	/* justify-content: space-between; */
	align-self: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
}

.profile-picture {
	width: 256px;
	height: 256px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-tagline {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	font-family: Calligraffitti;
	font-style: italic;
	font-size: 20px;
	margin: 5px
		auto;
}

.div-profile-header {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: 10px;
}

.div-header-picture {
	align-self: center;
	padding: 20px;
}

.p-content {
	justify-content: center;
	text-align: left;
	font-family: "Roboto",
		sans-serif;
	line-height: 22px;
	font-size: 18px;
	color: white;
	width: 25vw;
}

.div-info-link {
	display: flex;
	flex-wrap: wrap;
}

.imginfo {
	height: 50px;
	width: 50px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
	.p-content {
		text-align: left;
		font-family: "Roboto",
			sans-serif;
		width: 100%;
	}
	.div-header-picture {
		margin: 0
			auto;
		align-self: center;
		padding: 20px;
	}
}
