.link-li {
    padding: 10px 0;
    list-style-type: none;
}

.navlink-btn {
    margin-top: -10px;
    font-size: 30px;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

.navBar {
    width: 100%;
    color: rgb(223, 215, 215);
    padding: 5px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
    justify-content: center;
}

.show-nav {
    margin-bottom: 200px;
    height: 120px;
    padding-left: 20px;
    padding-inline-start: 0px;
}

.header-navlink ul .link-li {
    color: darkgrey;
    padding: 0 40px;
}

.header-a {
    text-align: center;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) {

    .navlink-btn {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .link-li {
        padding: 0 15px;
    }
}