
nav {
  position: fixed;
  right: 0;
  top: 35%;
  width: 150px;
  z-index: 5;
}

ul.MenuList {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  list-style: none;
}

:hover > .MenuList {
  transform: translate(0%, 0%);
}

.MenuList a {
  position: relative;
  display: block;
  padding: 10px 5px 10px 25px;
  width: 150px;
  text-decoration-line: none;
  color: #fff;
  background-color: rgba(187, 187, 187, 0.7);
  box-shadow: 0px 0px 20px #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Amatic SC";
  transform: translate(100%, 0%);
  transition: all 0.1s ease;
  outline: none;
}

:hover > .MenuList a {
  transform: translate(0%, 0%);
}

.MenuList a.active {
  transform: translate(0%, 0%);
}

.MenuList a.active::before {
  left: 12px;
}

ul.MenuList > li > a:hover {
  transform: translate(-15%, 0%);
}

.MenuList a.active::before {
  height: 10px;
  width: 10px;
  border: solid 2px #c9c9c9;
  background: #127791;
}

.MenuList a::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: solid 5px #c9c9c9;
  height: 0px;
  width: 0px;
  left: -50px;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease;
}

:hover > .MenuList a::before {
  left: 12px;
}

@media screen and (max-width: 1100px) {
  nav {
    width: 50px;
  }
  ul.MenuList > li > a.active:hover {
    transform: translate(-15%, 0%);
  }

  .MenuList a {
    transform: translate(50px, 0%);
  }

  :hover > .MenuList a {
    transform: translate(-100px, 0%);
  }

  ul.MenuList > li > a:hover {
    transform: translate(-120px, 0%);
  }

  .MenuList a::before {
    left: -30px;
  }

  .MenuList a.active {
    transform: translate(50px, 0%);
  }
  .MenuList a.active::before {
    left: -30px;
  }
  :hover > .MenuList a.active::before {
    left: 12px;
  }
  :hover > .MenuList a.active {
    transform: translate(-100px, 0%);
  }
  ul.MenuList > li > a.active:hover {
    transform: translate(-120px, 0%);
  }
}