*{
  box-sizing: border-box;
}

header {
  background-color: blue;
  padding: 0px;
}

.navlink {
  padding: 30px;
  margin: 0px;;
}

header  ul {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 30px;
}

header ul li,a {
  justify-content: space-around;
  text-decoration: none;
  margin: auto 50px;
  list-style: none;

}