* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

section {
  height: 50vh;
  min-height: 300px;
  width: 100%;
  color: black;
  z-index: 2;
}

.BriefBox {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 286px;
  -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 60%, rgba(255, 255, 255, 0.3));
}

.BriefBox > h1 {
  font-family: "Russo One", sans-serif;
  font-size: 80px;
}

.BriefBox > p {
  font-family: "Russo One", sans-serif;
  font-size: 100px;
}

#jobName {
  white-space: nowrap;
  width: min-content;
  height: 40px;
  font-size: 80px;
  border-right: solid 5px #fff;
  animation: BorderOpacity 0.5s infinite;
  z-index: 1;
}

.PageTags {
  margin: 30px auto;
  height: 60px;
  width: max-content;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  background-color: rgba(187, 187, 187, 0.5);
  box-shadow: 0px 0px 20px rgba(187, 187, 187, 0.5);
  font-family: "Pinyon Script", cursive;
  line-height: 60px;
  font-size: 50px;

}

.p-contain{
  font-size: 20px;
  margin: 10px 100px;
}
